:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --bg-dark: #1a1a1a;
  --bg-light: #f9f9f9;
  --input-bg: #333;
  --input-border: #555;
  --input-focus: #646cff;
  --button-hover: #747bff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

#root {
  width: 100%;
  padding: 5px 10px 10px 10px;
  background-color: #2c2c2c;
}

.delete-icon,
.copy-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: right;
  cursor: pointer;
  font-size: 1.3em;
  right: 5px;
  top: 8px;
  position: absolute;
}

.icon:hover {
  color: lightblue;
}

.edit-icon {
  position: absolute;
  right: 5px;
  width: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1.2em;
  top: 16px;
}

.link-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.link {
  position: relative;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid var(--input-border);
}

.link-copy {
  cursor: pointer;
}

.hidden {
  display: none;
}

label {
  font-size: 1.2em;
  font-weight: 500;
  padding-right: 10px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.87);
}

.input-label {
  width: fit-content;
  padding: 0;
}

.add-link-button {
  background-color: transparent;
  width: max-content;
  color: white;
  font-size: 1.6em;
  text-align: center;
}

.add-link-button:hover {
  color: lightblue;
  background-color: transparent;
}

input {
  width: 100%;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);

  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.87);
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: var(--input-focus);
  outline: none;
}

button {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-light);
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  color: #213547;
}

button:hover {
  background-color: var(--button-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --primary-color: #213547;
    --secondary-color: #213547;
    --bg-dark: #ffffff;
    --bg-light: #ffffff;
    --input-bg: #f0f0f0;
    --input-border: #ccc;
    --input-focus: #213547;
    --button-hover: #213547;
  }

  body {
    background-color: var(--bg-light);
    color: #213547;
  }

  button {
    background-color: var(--bg-dark);
    color: #ffffff;
  }
}
